body {
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
}

.header-container {
  display: flex;
  justify-content: center;
}

.palette-container {
  display: flex;
  justify-content: center;
}

#color-palette {
  display: flex;
}

#black {
  background-color: black;
  border: solid 1px black;
  margin-right: 10px;
  padding: 30px;
}

#red {
  border: solid 1px black;
  margin-right: 10px;
  padding: 30px;
}

#green {
  border: solid 1px black;
  margin-right: 10px;
  padding: 30px;
}

#blue {
  border: solid 1px black;
  margin-right: 10px;
  padding: 30px;
}

.board-container {
  display: flex;
  justify-content: center;
}

#pixel-board {
  display: block;
  margin-top: 10px;
}

.pixel {
  background-color: white;
  border: solid 1px black;
  display: inline-block;
  height: 40px;
  margin-bottom: -3px;
  width: 40px;
}
